<shared-navbar  #navbar/>

<div class="d-flex flex-row justify-content-around bg-secondary">
  @for (item of itemsLeagues; track $index) {

    <div (click)="onChangeLeague(item.id)" class="ligue-selector d-flex justify-content-center flex-row w-100 h-100 ">
      <img class="m-3" [src]="item.image" alt="item.title">
      <p class="align-self-center">{{ item.title }}</p>
    </div>

  }
</div>

@if (searchingTeams === true) {
  <div class="d-flex flex-column m-2 p-3">

    <div class="d-flex flex-column m-auto">
        <img class="spinner" src="../../../../assets/spinner.svg" alt="">
      <h2 class="text-light">Cargando...</h2>
    </div>

  </div>
}

@for (team of searchedTeams; track $index) {

  <shared-result-card
    [image]="team.logo"
    [title]="team.name"
    [aditionalInfo]="team.code"
    [routerLink]="['/teams', selectedLeagueId.toString(), team.id.toString()]"/>

}
