* {
  margin-bottom: 0;
}

.team-container {
  background-color: aliceblue;
}

.logo {
  width: 18em;
  height: 15em;
}

.team-data {
  list-style: none;
  /*TODO: Pendiente de arreglar, pinta sobre los datos generales del equipo y ahi no hace falta*/
  background-color: aliceblue;
  font-size: larger;
}

.team-info {
  background-color: aliceblue;

}

.img-starium {
  width: 100%;
}

.team-spinner {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 15em;
  height: 15em;
}

@media (max-width: 767.98px) {

  .team-container, .stadium-data {
    flex-wrap: wrap;
    list-style: none;
  }

 }
