@defer (when team) {
  <h1 class="text-light text-center p-3 bg-dark" >{{ team?.name }}</h1>

  <div class="team-container d-flex justify-content-around">

    <img class="logo p-1" [src]="team?.logo" alt="Barcelona">

    <ul class="team-data align-self-center">
      <li><strong>Fundation:</strong> {{ team?.founded }}</li>
      <li><strong>Country:</strong> {{ team?.country }}</li>
      <li><strong>Abreviation:</strong> {{ team?.code }}</li>
    </ul>

  </div>

  <div class="team-data m-auto">
    <h1 class="text-light text-center p-3 bg-dark" >{{ venue?.name }}</h1>

    <ul class="stadium-data p-5 m-auto d-flex d-row justify-content-around">
      <li><strong>Ubication:</strong> {{ venue?.address }}</li>
      <li><strong>City:</strong> {{ venue?.city }}</li>
      <li><strong>Capacity:</strong> {{ venue?.capacity }}</li>
      <li><strong>Surface:</strong> {{ venue?.surface }}</li>
    </ul>

  </div>

  <img class="img-starium" [src]="venue?.image" alt="stadium">
}@placeholder {
  <img class="team-spinner" src="../../../../assets/spinner.svg" alt="loading_spinner">
}
